:root {
    --dimensions : 32px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    margin: var(--dimensions);
}

/* ------------------------------- NAVBAR ------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px var(--dimensions) 0px var(--dimensions);
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.username, .logout {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* ------------------------------- form ------------------------------- */
.formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background-color: rgb(197, 197, 197);
    width: 300px;
    margin: var(--dimensions);
}

.labels {
    margin-top: 16px;
    display: block;
}

.textArea, input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
.submitBtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
}
  
.submitBtn:hover {
    background-color: #45a049;
}

/* ------------------------------- posts ------------------------------- */
.post {
    margin: var(--dimensions);
    padding: var(--dimensions);
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 300px;
}

.postText {
    margin-bottom: var(--dimensions)
}

.imgContainer {
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    background-color: #111;
    border: 1px solid rgb(104, 104, 255);
    border-radius: 6px;
}

.postImg { 
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}