@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap');

:root {
    --dimensions : 32px;
    --skyBlue : rgba(0,157,255,0.7);
    --baggrund : #F5F4F4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--baggrund);
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    margin: var(--dimensions);
}

/* ------------------------------- Homepage ------------------------------- */
.profileBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeProfileText {
    color: var(--skyBlue);
}

.profileBannerImage {
    margin: 10px;
    border-radius: 50%;
    border: 1px solid var(--skyBlue);
    width: 200px;
}

.skyBlue{

   color:  var(--skyBlue);
}

/* ------------------------------- NAVBAR ------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px var(--dimensions) 0px var(--dimensions);
    overflow: hidden;
    background-color: #ffffff;
    filter: drop-shadow(1px 3px 4px #999999);
    
}

li {
    float: left;
    
}

.username, .logout {
    float: right;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--skyBlue);
    color: #ffffff;
    
}

/* ------------------------------- form ------------------------------- */
.formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background-color: rgb(197, 197, 197);
    width: 300px;
    margin: var(--dimensions);
}

.labels {
    margin-top: 16px;
    display: block;
}

.textArea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
.submitBtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
}
  
.submitBtn:hover {
    background-color: #45a049;
}

/* ------------------------------- posts ------------------------------- */


.postContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.post {
    margin: var(--dimensions);
    padding: var(--dimensions);
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 300px;
}

.postText {
    margin-bottom: var(--dimensions)
}

.imgContainer {
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    background-color: #111;
    border: 1px solid rgb(104, 104, 255);
    border-radius: 6px;
}

.postImg { 
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.editBtn, .deleteBtn {
    float: right;
    color: gray;
    text-decoration: none;
    margin-right: 6px;
}

.editBtn:hover, .deleteBtn:hover {
    border-bottom: 2px solid gray;
}

/* ------------------------------- Profilepage ------------------------------- */
.profileSection {
    /* display: flex; */
}

.basicProfileInfo {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 64px;
}

.profileImage {
    width: 300px;
    border-radius: 50%;
    border: 1px solid rgba(0,157,255,0.7);
}

.nameAndEmail {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid rgba(0,157,255,0.7);
    border-radius: 30px;
    background-color: white;
}

.profileTextAndPosts {
    
    margin-top: 16px;
    flex-grow: 2;
}

.profileText {
    width: 100%;
}

.textHeader {
    padding-bottom: 10px;
    /* border-bottom: 1px solid blue; */
    /* margin: 0px 10px 0px 10px; */
}

.underline {
    width: 100%;
    height: 1px;
    background-color: rgba(0,157,255,0.7);
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
}

.textAndPosts {
    padding-bottom: 40px;
    padding-top: 20px;
    /* margin: 0px 10px 0px 10px; */
}

.postsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 16px; 
    width: 100%;
}

.postImageContainer {
    flex: 0 1 calc(33.333% - 16px);
    box-sizing: border-box;
    margin-bottom: 16px; 
}

.postImageContainer img {
    /* width: 100%; */
    /* height: auto; */
}

.postImageText {
    position: absolute;
    /* width: 100%; */
    background-color: rgba(0,157,255,0.7);
    bottom: 0;
}

.postCard {
    position: relative;
}

.cardText {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px 0px 6px 0px;
}

.profileThumbnail {
    width: 50px;
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-top: 5px;
}

.cardText p {
    margin-left: 2px;
    text-align: center;
    color: white;
}

.postImage {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    
}

@media (min-width: 700px){
    .profileSection {
        display: flex;
    }
    
    .profileTextAndPosts {
        margin-top: 0px;
    }

    .postsSection {
        justify-content: flex-start;
    }
}





.mainClass{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.logIn-section{
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border-radius: 80px;
    border-color: #0094F1;
    border-width: 0.5px;
    border-style: solid;
    filter: drop-shadow(1px 3px 4px #999999);
    gap: 40px;
    padding: 20px;
}

.log-in-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.inputP {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 0;
}

.CTA {
    color: #ffffff;
    background: rgb(0,157,255);
    background: linear-gradient(0deg, rgba(0,157,255,0.7) 0%, rgba(0,157,255,1) 100%);
    border-radius: 40px;
    width: 210px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    filter: drop-shadow(1px 3px 4px #999999);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.CTA:hover, .CTA:focus {
    background-color: #006bb3;
    transform: scale(1.05);
    outline: none;
}

.input-login {
    border-radius: 40px;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    width: 300px;
    height: 40px;
    text-indent: 10px;
    font-size: 14px;
}

.input-login:focus {
    outline: 2px solid #0094F1;
}

.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .log-in-container {
        width: 300px;
    }
    .inputP {
        font-size: 10px;
    }
    .input-login {
        width: 200px; 
        height: 30px;
        font-size: 10px;
    }
    .CTA {
        width: 175px;
        height: 40px;
        font-size: 18px;
    }
}
