:root {
    --dimensions : 32px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    margin: var(--dimensions);
}

/* ------------------------------- Homepage ------------------------------- */
.profileBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeProfileText {
    color: blue;
}

.profileBannerImage {
    margin: 10px;
    border-radius: 50%;
    border: 1px solid blue;
    width: 200px;
}

/* ------------------------------- NAVBAR ------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px var(--dimensions) 0px var(--dimensions);
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.username, .logout {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* ------------------------------- form ------------------------------- */
.formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background-color: rgb(197, 197, 197);
    width: 300px;
    margin: var(--dimensions);
}

.labels {
    margin-top: 16px;
    display: block;
}

.textArea, input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
.submitBtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
}
  
.submitBtn:hover {
    background-color: #45a049;
}

/* ------------------------------- posts ------------------------------- */
.post {
    margin: var(--dimensions);
    padding: var(--dimensions);
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 300px;
}

.postText {
    margin-bottom: var(--dimensions)
}

.imgContainer {
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    background-color: #111;
    border: 1px solid rgb(104, 104, 255);
    border-radius: 6px;
}

.postImg { 
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.editBtn, .deleteBtn {
    float: right;
    color: gray;
    text-decoration: none;
    margin-right: 6px;
}

.editBtn:hover, .deleteBtn:hover {
    border-bottom: 2px solid gray;
}

/* ------------------------------- Profilepage ------------------------------- */
.profileSection {
    /* display: flex; */
}

.basicProfileInfo {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 64px;
}

.profileImage {
    border-radius: 50%;
    border: 1px solid blue;;
}

.nameAndEmail {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid blue;
    border-radius: 30px;
    background-color: white;
}

.profileTextAndPosts {
    /* background-color: red; */
    margin-top: 16px;
    flex-grow: 2;
}

.profileText {
    width: 100%;
}

.textHeader {
    padding-bottom: 10px;
    /* border-bottom: 1px solid blue; */
    /* margin: 0px 10px 0px 10px; */
}

.underline {
    width: 100%;
    height: 1px;
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
}

.textAndPosts {
    padding-bottom: 40px;
    padding-top: 20px;
    /* margin: 0px 10px 0px 10px; */
}

.postsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 16px; 
    width: 100%;
}

.postImageContainer {
    flex: 0 1 calc(33.333% - 16px);
    box-sizing: border-box;
    margin-bottom: 16px; 
}

.postImageContainer img {
    /* width: 100%; */
    /* height: auto; */
}

.postImageText {
    position: absolute;
    /* width: 100%; */
    background-color: blue;
    bottom: 0;
}

.postCard {
    position: relative;
}

.cardText {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px 0px 6px 0px;
}

.profileThumbnail {
    width: 50px;
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-top: 5px;
}

.cardText p {
    margin-left: 2px;
    text-align: center;
    color: white;
}

.postImage {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    
}

@media (min-width: 700px){
    .profileSection {
        display: flex;
    }
    
    .profileTextAndPosts {
        margin-top: 0px;
    }

    .postsSection {
        justify-content: flex-start;
    }
}